
<nav class="navbar navbar-expand-lg card-header" 
    id="logo-name"/>

<!--ANCHOR * navbar LEFT SIDE * -->

    <div class="collapse navbar-collapse" 
        id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        <!--STUB logo -->
            <%- include("./brand-name.ejs") -%>

        <!--STUB Home link -->
            <li class="nav-item active ">
                <a class="nav-link text-light" 
                    href="#"> 
                    Home 
                    <span class="sr-only"> 
                        (current) 
                    </span>
                </a>
            </li>

        <!---STUB Dropdown Menu -->
            <%- include("./dropdown-menu.ejs") -%> 
        </ul>
    </div>


<!--ANCHOR * navbar RIGHT SIDE * -->

    <div class="nav-bar ml-auto" 
        id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            
            <!-- STUB Register link -->
            <li class="nav-item">
                <a type="submit" 
                    class="nav-link text-light" 
                    data-toggle="modal"
                    data-target="#registerModal">
                    Register
                </a>
            </li>
            
            <!-- STUB Log in link -->
            <li class="nav-item">
                <a type="submit" 
                    class="nav-link text-light" 
                    data-toggle="modal" 
                    data-target="#loginModal">
                    Log in
                </a>
            </li>

            <!-- STUB Log out link -->
            <li class="nav-item">
                <a type="submit"
                    class="nav-link text-light" 
                    href="{% url 'logout' %}">
                    Log out
                </a>
            </li>

        </ul>
    </div>

<!---STUB Modal- register -->
    <%- include("./modal-register.ejs") -%>

<!-- STUB Modal- log in -->
    <%- include("./modal-login.ejs") -%>

</nav>
