<!-- navbar logo -->
<div id="logo-name">
    <a 
        class="navbar-brand text-light"
        href="/">
        <img src="/assets//logo/grapevine_grapevine.svg" alt="grapevine logo" id="navbar-logo">
        <strong> 
            Grapevine
        </strong>
    </a>
    <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span 
            class="navbar-toggler-icon"> 
        </span>
    </button>
</div>