<div class="container">
    <div class="row">
        <div class="card shadow-lg ml-5 mt-4" 
            style="width: 40rem;">

            <!-- STUB card header -->
            <div class="card-header alert alert-info">
                <h3 class="label">Job Posts</h3>
                
                <a href="/messages/new" class="btn btn-sm btn-info">
                    Create New Post
                </a>
                
            
            </div>
        
            <!-- STUB list messages -->
            <form class="card-body">
                <p>
                    Stay up to date with what everyone's talking about. 
                    <br />
                    <strong>
                        Check a job post out.
                    </strong>
                </p>
                <ul class="list-group">
                    <% allMessages.forEach(message => { %>
                        <li class="list-group-item">
                            <a href="/messages/<%= message._id %>"> 
                                <%= message.content%> 
                            </a>
                        </li>
                    <% }) %>
                </ul>
                <p>
                    <% if(allMessages.length === 0) { %>
                        You have no messages!
                    <% }%>
                </p>
            
            </form>
            
            
        </div>
    </div>
</div>