<div class="container">
    <div class="row">
        <div class="card shadow-lg ml-5 mt-4" 
            style="width: 40rem;">

            <!-- STUB card header -->
            <div class="card-header alert alert-info">
                <h3 class="label">Messages</h3>
                
                <a href="/messages/new" class="btn btn-sm btn-info">
                    Create New Message
                </a>
                
            
            </div>
        
            <!-- STUB list messages -->
            <ul >
                <li>
                    <p>
                        Stay up to date with what everyone's talking about. 
                        <br />
                        <strong>
                            Check a job message out! 
                        </strong>
                    </p>
                    <ul>
                        <% allMessages.forEach(message => { %>
                        <li>
                        <a href="/messages/<%= message._id %>"> <%= message.content%> </a>
                        </li>
                        <% }) %>
                    </ul>
                    <% if(allMessages.length === 0) { %>
                    <p>
                        You have no messages!
                    </p>
                    <% }%>
                </li>
            </ul>
            
            
        </div>
    </div>
</div>