<div class="modal fade" 
    id="signupModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="SignupModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" 
        role="document">
        <div class="modal-content">
            <div class="modal-header">

<!--SECTION modal title -->
                <h5 class="modal-title">
                    Sign up
                </h5>
                <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>

<!--SECTION  error message -->
            <div class="alert alert-danger" 
                role="alert"> error
            </div>


            <form method="POST" action={% url 'register'%}>

                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <p>
                                <label for="first_name">First Name: </label>
                                <input type="text" class="form-control" name="first_name" maxlength="25" minlength="2"
                                    placeholder="Enter Your First Name" required>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <label for="last_name">Last Name: </label>
                                <input type="text" class="form-control" name="last_name" maxlength="25" minlength="2"
                                    placeholder="Enter Your Last Name" required>
                            </p>
                        </div>
                    </div>
                    <p>
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" maxlength="25" minlength="2"
                            placeholder="name@email.com" required>
                    </p>
                    <p>
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" maxlength="25" minlength="2"
                            placeholder="Enter Your User Name" required>
                    </p>
                    <p>
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" maxlength="25" minlength="4"
                            placeholder="Enter Your Password. Max 25 characters. Minimum of 4 characters is required."
                            required>
                    </p>
                    <p>
                        <label for="password2">Confirm Password:</label>
                        <input type="password" class="form-control" name="password2" maxlength="25" minlength="4"
                            placeholder="Re-Enter Your Password" required>
                    </p>

                    <p>
                        <label for="current_city">Current City: </label>
                        <input type="text" class="form-control" name="current_city" maxlength="25" required>
                    </p>

                    <div class="modal-footer">
                        <button type="button" class="bttn-fill bttn-md bttn-danger bttn-no-outline button-spacing"
                            data-dismiss="modal">Close</button>

                        <button type="submit" class="bttn-fill bttn-md bttn-warning bttn-no-outline button-spacing">Sign
                            up</button <input type="hidden" name="next" value="{{ next }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>