<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../0-partials/headers-sum/head-links.ejs") -%>
    <title>Grapevine | Profile</title>
</head>

<body>
    <!-- STUB NavBar -->
    <%- include ("../0-partials/headers-sum/navbar.ejs") -%>

   
    <main class="main">
        <!-- STUB profile card -->
        <%- include ("../0-partials/profile/card.ejs") -%>


    </main>

    <!-- STUB Footer -->
    <%- include ("../0-partials/headers-sum/footer.ejs") -%>
</body>


</html>