

<div class="container">
    <div class="row">
                
        <!-- STUB Header -->
        <div class="card shadow-lg ml-5 mt-4 rounded" 
            style="width: 40rem;">
            <h4 class="card-header alert alert-info">
                Edit this post's thoughts
            </h4>
            <div class="card-body">   
                
                <form action="/messages/<%= foundMessage._id %>?_method=PUT"
                    method="POST">

                    <!-- STUB content param -->
                    <p>
                        <label for="content">
                            Thoughts:
                        </label>
                        <textarea class="form-control" 
                            name="content" 
                            rows="3" 
                            placeholder="Tell us why you're sharing this job post!"
                            style="margin-bottom:30px;"></textarea>
                        
                        <h6 class="pull-right">
                            300 characters max.
                        </h6>
                        <small id="emailHelp" 
                            class="form-text text-muted">
                            optional
                        </small>
                    </p>
                    <hr class="my-4" />
                    
                    <!-- STUB new message button -->
                    <button type="submit" 
                        class="btn btn-sm btn-info">
                        Update Post
                    </button>

                    <!-- STUB cancel button -->
                    <a href="/messages/<%= foundMessage._id %>" 
                        class="btn btn-sm btn-secondary"> 
                        Cancel
                    </a>
                </form>
            </div>
        </div>
            
	</div>
</div>
