
<div class="md-12 landing-page-nav-body">
    <div class="row">


        <!-- STUB profile picture -->
        <div class="col-md-4 home-paragraph">
            <div class="container">

                <div class="card shadow-lg ml-5 mt-4 rounded" 
                    style="width: 20rem;">
                    <img src="/assets/flaticon/user.svg" 
                    class="card-profile-img" 
                    alt="profile picture">
                </div>
            </div>
        </div>

        
        <!-- STUB Personal info -->
        <div class="col-md-7 home-paragraph" >
            <div class="container">

                <div class="card shadow-lg ml-4 mt-4 rounded" 
                    style="width: 25rem;">
                    <div class="card-body">
                        <h4 class="card-title">
                            Name: 
                        </h4>
                        <hr class="my-2" />
                        <div class="card-content">
                            <br />
                            <h6>
                                Current Position:
                            </h6>
                            <br />
                            <h6>
                                Company:
                            </h6>
                            <br />
                            <h6>
                                Location:
                            </h6>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- STUB About -->
<div class="col-md-12 landing-page-nav-body">
    <div class="row">

        <div class="col-md-10 home-paragraph" >
            <div class="container">

                <div class="card shadow-lg  mt-4 rounded" 
                    style="width: 50rem;">
                    <div class="card-body profile-body">
                        Introduction
                    </div>
                </div>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#profileEditModal">
                    Edit
                </button>
            </div>
        </div>

        
    </div>
</div>