<div class="modal fade" 
    id="profileEditModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="profileEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" 
        role="document">
        <div class="modal-content">
            <div class="modal-header">

                <!--STUB modal title -->
                <h5 class="content has-text-centered">
                    Edit Profile
                </h5>
                <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>

            <!--STUB  error message -->
            <!-- <div class="alert alert-danger" 
                role="alert"> error
            </div> -->

            <!--STUB register form  -->
            <form method="POST" 
                action={% url 'edit'%}>
                <div class="modal-body">
                    

                    <!-- STUB name -->
                    <p>
                        <label for="name">
                            Name:
                        </label>
                        <input type="name" 
                            class="form-control" 
                            name="fullName" 
                            maxlength="40" 
                            minlength="2"
                            placeholder="First and Last Name" 
                            required= true>
                    </p>

                    <!-- STUB current position -->
                    <p>
                        <label for="current position">
                            Current Position:
                        </label>
                        <input type="current position" 
                            class="form-control" 
                            name="jobTitle" 
                            maxlength="40" 
                            minlength="2"
                            placeholder="open to work, if none" 
                            required = true>
                    </p>

                    <!-- STUB company -->
                    <p>
                        <label for="company">
                            Company:
                        </label>
                        <input type="company" 
                            class="form-control" 
                            name="company" 
                            maxlength="40" 
                            minlength="2"
                            placeholder="n/a, if none" 
                            required>
                    </p>

                    <!-- STUB introduction -->
                    <p>
                        <label for="introduction">
                            Introduction:
                        </label>
                        <input type="introduction" 
                            class="form-control modal-body" 
                            name="introduction" 
                            maxlength="200" 
                            minlength="10"
                            placeholder="200 characters max" 
                            required = true>
                    </p>


                    <!-- STUB modal footer -->
                    <div class="modal-footer">

                        <!-- STUB close button -->
                        <button type="button" 
                            class="btn btn-secondary"
                            data-dismiss="modal">
                            Cancel
                        </button>

                        <!-- STUB sign up button -->
                        <button type="submit" 
                            class="btn btn-info">
                            Save changes
                        </button <input type="hidden" name="next" value="{{ next }}">
                        
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>

