<br /><br /><br />

<div class="col-md-12">

    <!-- vision -->
    <div class="row">
        <div class="card col-md-3 mx-auto" 
            style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">
                    Vision
                </h5>
                Create a place where job seekers can find solidarity and support in searching for their next job.
            </div>
        </div>

        <!-- Mission -->
        <div class="card col-md-3 mx-auto" 
            style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">
                    Mission
                </h5>
                Help people help each other find work, and increase their network and impact along the way.
            </div>
        </div>

        <!-- who are we? -->
        <div class="card col-md-3 mx-auto " 
            style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">
                    Who are we?
                </h5>
                Grapevine began in Rodrigo Marron's temporary home workspace (his bedroom) in October 2020. 
            </div>
        </div>
    </div>

</div> 
