<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head-links -->
    <%- include ("../0-partials/headers-sum/head-links.ejs") -%>

    <title>Edit User</title>
</head>


<body>
    <!-- STUB navbar -->
    <%- include ("../0-partials/headers-sum/navbar.ejs") -%>
    
    <!-- STUB main -->
    <main class="main">

        <!-- STUB edit profile card -->
        <%- include ("../0-partials/user-partials/edit-profile.ejs") -%>

    </main>

    
    <!--STUB Footer -->
    <%- include ("../0-partials/headers-sum/footer.ejs") -%>

    
</body>
</html>