<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head-links -->
    <%- include ("../0-partials/headers-sum/head-links.ejs") -%>

    <title>New message</title>
</head>


<body>
    <!-- STUB navbar -->
    <%- include ("../0-partials/headers-sum/navbar.ejs") -%>


    <!-- STUB main -->
    <main class="main">
        
        <!-- STUB message form -->
        <%- include ("../0-partials/message/new-message.ejs") -%>

    </main>
    

    <!--STUB Footer -->
    <%- include ("../0-partials/headers-sum/footer.ejs") -%>


</body>
</html>