<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head-links -->
    <%- include ("../0-partials/headers-sum/head-links.ejs") -%>

    <title>New Message</title>
</head>


<body>
    <!-- STUB navbar -->
    <%- include ("../0-partials/headers-sum/navbar.ejs") -%>


    <!-- STUB main -->
    <main class="main">
        New message


    
            <!-- Form -->
            <br><br>
            <label class="label">Write your message:</label>
            </div class="control">
            <form action="/messages" method="POST">
            <input class="" type="text" name="name" placeholder="Message" /> 
            <br />
            </div>
            <br>
            <!-- Create Message button -->
            <div class="control">
                <button type="button" class="btn btn-sm btn-info" ">Create New Message</button>
            </div>


    </main>
    

    <!--STUB Footer -->
    <%- include ("../0-partials/headers-sum/footer.ejs") -%>


</body>
</html>