
<footer class="card-footer" 
    id="headers-color">
    <div class="content has-text-centered">
        <div class="clearfix">

            <!-- STUB linkedin link -->
            <ul class="nav-item active ">
                <small>
                    <a class="nav-link text-light float-right" 
                        href="https://www.linkedin.com/in/rodrigo-marron/">
                        Grapevine ©2020 by Rodrigo Marrón
                        <img src="/assets/flaticon/linkedin.png" 
                            alt="linkedin-icon" 
                            id="linkedin" />
                    </a>
                </small>
            </ul>
        </div>
        <br />
    </div>
</footer>