
<nav class="navbar navbar-expand-lg card-header" id="headers-color" />

<!--ANCHOR * navbar LEFT SIDE * -->

    <div class="collapse navbar-collapse" 
        id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!--STUB logo -->
            <%- include("./navbar/brand-name.ejs") -%>

            <!--STUB Home link -->
            <li class="nav-item active ">
                <a class="nav-link text-light" 
                    href="/"> 
                    Home 
                </a>
            </li>

            <!---STUB Dropdown Menu -->
            <%- include("./navbar/dropdown-menu.ejs") -%> 
        </ul>
    </div>


<!--ANCHOR * navbar RIGHT SIDE * -->

    <div class="nav-bar ml-auto" 
        id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            
            <!-- STUB Register link -->
            <li class="nav-item">
                <a type="submit" 
                    class="nav-link text-light" 
                    data-toggle="modal"
                    data-target="#registerModal">
                    Register
                </a>
            </li>
            
            <!-- STUB Log in link -->
            <li class="nav-item">
                <a type="submit" 
                    class="nav-link text-light" 
                    href="/user/login">
                    Log in
                </a>
            </li>

            <!-- STUB Log out link -->
            <li class="nav-item">
                <a type="submit"
                    class="nav-link text-light" 
                    href="#">
                    Log out
                </a>
            </li>

        </ul>
    </div>

    <!---STUB Modal- register -->
    <%- include("./navbar/modal-register.ejs") -%>


</nav>
