
<footer class="footer has-background-link-light">
    <div class="content has-text-centered">
        <p>
            <strong> 
                GRAPEVINE
            </strong> 
            by
            <a href="https://www.linkedin.com/in/rodrigo-marron/">
                Rodrigo Marrón
            </a>

        </p>
    </div>
</footer>