
<footer class="card-footer ">
    <div class="content has-text-centered">
        <div class=" clearfix">

            <!-- Link -->
            <ul class="nav-item active ">
                <a class="nav-link text-light float-right" href="https://www.linkedin.com/in/rodrigo-marron/">
                        GRAPEVINE by Rodrigo Marrón
                </a>
            </ul>
            
        </div>
        <br />
    </div>
</footer>