<nav class="navbar is-info has-background-link-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="http://localhost:4000/hero">
            GRAPEVINE
        </a>
    </div>
</nav>
