<br />

<div class="col-md-12 landing-nav-body">
    <div class="row">

        <!-- jumbotron -->
        <div class="col-md-7 home-paragraph">
            <div class="container">
                <h1 class="display-4">
                    Welcome to Grapevine
                </h1>
                <p class="lead">
                    The place where job seekers can easily identify who they need to connect in order to find their dream job. Not only that, Grapevine users are people who are distinctly receptive and wanting to network online.
                </p>
                <hr class="my-4">
                <p>
                    With Grapevine you'll feel motivated to grow your network.
                </p>
                <p class="lead">
                    <a class="btn btn-info btn-lg" href="/" role="button">
                        Get started
                    </a>
                </p>
            </div>
        </div>
        

        <!-- SVG -->
        <div class="col-md-3 home-paragraph">
            <div class="container" >
                <img src="/assets/undraw_images/undraw_remote_meeting_cbfk.svg" alt="undraw_professional_card" id="undraw professional card">
            </div>
        </div>

    </div>
    
</div>
<br /><br /><br />


