<br />

<div class="col-md-12 landing-nav-body">
    <div class="row">

        <!-- jumbotron -->
        <div class="col-md-7 home-paragraph">
            <div class="container">
                <h1 class="display-4">
                    Welcome to Grapevine
                </h1>
                <p class="lead">
                    The place where job seekers can easily identify who they need to connect with from a particular company for their next opportunity. Not only that, Grapevine users are people who are distinctly receptive and wanting to network online.
                </p>
                <hr class="my-4">
                <p>
                    On Grapevine you'll feel encouraged to grow your network.
                </p>
                <p class="lead">
                    <a class="btn btn-info btn-lg" href="/" role="button">
                        Get started
                    </a>
                </p>
            </div>
        </div>
        

        <!-- SVG -->
        <div class="col home-paragraph">
            <div class="container">
                <img src="" alt="undraw_professional_card">
            </div>
        </div>

    </div>
    
</div>
<br />


