<br />

<div class="col-md-12 landing-page-nav-body">
    <div class="row">

        <!-- jumbotron -->
        <div class="col-md-7 home-paragraph">
            <div class="container">
                <h1 class="display-4">
                    Welcome to Grapevine
                </h1>
                <br />
                <p class="lead">
                    The place where job seekers can help each other find out more about new opportunities. Create a message with a link to the job you've found that you think others might find helpful. Within each message you and your cluster can talk about specifics related to the job post such as highlights, red flags, or areas to ask for further information.
                </p>
                <hr class="my-4">
                <p>
                    With Grapevine you'll find the perfect job and grow your network along the way.
                </p>
                <p class="lead">
                    <a type="submit" 
                        class="btn btn-md btn-info" 
                        data-toggle="modal"
                        data-target="#registerModal"
                        style="color: rgba(245, 245, 245, 0.952)">
                        Get Started
                    </a>
                </p>
            </div>
        </div>
        

        <!-- SVG -->
        <div class="col-md-3 home-paragraph">
            <div class="container" >
                <img src="/assets/undraw_images/undraw_remote_meeting_cbfk.svg" alt="undraw_professional_card" id="undraw">
            </div>
        </div>

    </div>
    
</div>
<br />
<br />
<br />


