<hr class="my-4" />

<div class="col-md-12">

    <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">
                    Vision
                </h5>
                Make online networking for job seeking professionals more transparent and humane.
            </div>
        </div>
        <div class="card col-md-4" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">
                    Mission
                </h5>
                Grapevine's mission is simple: create a platform where job seeking professionals can easily identify who to connect with from each company. 
            </div>
        </div>
        <div class="card col-md-4" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">
                    Who are we?
                </h5>
                Grapevine began in Rodrigo Marron's temporary home workspace (his bedroom) in October 2020. 
            </div>
        </div>
    </div>

</div> 
