/* STUB all */

body {
  background-color: rgba(245, 245, 245, 0.952);
}

.main {
  min-height: 80vh;
}

.modal-body p {
  word-wrap: break-word;
}


/* STUB navbar */

#navbar-logo {
  width: 40px;
  height: 30px;
}

#headers-color {
  background-color: rgb(108, 0, 209)
}



/*STUB landing-page Page */


#undraw {
  width: 175%;
  height: auto;
}

.values-body {
  background-color: rgb(108, 0, 209);
}


.selector-for-some-widget {
  box-sizing: content-box;
}



/*STUB Profile Page */


.card-profile-img {

  margin: 30px auto;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 5px solid rgba(245, 245, 245, 0.952);

}

.profile-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#ee5a6f), to(#f29263));
}




/* STUB Footer */

#linkedin {
  width: 30px;
  height: 30px;
}

