/*
font-family: "Staatliches", cursive;

*/

body {
  background-color: #150485;
}

/* .navbar-font {
  font-family: "Staatliches", cursive;
} */

#logo-name {
  color: #c62a88;
}

.main {
  min-height: 80vh;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
