/*
font-family: 'Staatliches', cursive;

*/

body {
  background-color: rgb(66, 66, 66);
}

/* .navbar-font {
  font-family: "Staatliches", cursive;
} */

.main {
  min-height: 80vh;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
