<!-- Dropdown Menu -->

<li class="nav-item dropdown">
    <a class="nav-link text-light dropdown-toggle" 
        href="#" 
        id="navbarDropdown" 
        role="button" 
        data-toggle="dropdown"
        aria-haspopup="true" 
        aria-expanded="false">
        Explore
    </a>
    <div class="dropdown-menu" 
        aria-labelledby="navbarDropdown">
        <a class="dropdown-item" 
            href="/profile">
            Profile
        </a>
        <a class="dropdown-item" 
            href="/messages">
            Mailbox
        </a>

        <div class="dropdown-divider">         
        </div>
        
        <a class="dropdown-item" 
            href="#">
            Search Grapevine
        </a>
    </div>
</li>