<div class="modal fade" 
    id="loginModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" 
        role="document">
        <div class="modal-content">
            <div class="modal-header">

                <!--STUB modal title -->
                <h5 class="content has-text-centered">
                    Welcome Back
                </h5>
                <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>

            <!--STUB  error message -->
            <!-- <div class="alert alert-danger" 
                role="alert"> error
            </div> -->

            <!--STUB register form  -->
            <form method="POST" action={% url 'register'%}>
                <div class="modal-body">


                    <!-- STUB email -->
                    <p>
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" maxlength="25" minlength="2"
                            required>
                    </p>

                    <!-- STUB password -->
                    <p>
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" maxlength="25" minlength="4"
                            required>
                    </p>

                    <!-- STUB modal footer -->
                    <div class="modal-footer">

                        <!--STUB Existing Member -->
                        <p class="subtitle has-text-grey modal-dialog">
                            New to Grapevine?
                            <a href="registerModal"
                            data-toggle="modal"
                            class="button is-link">
                                Register
                            </a>
                        </p>

                        <!-- STUB close button -->
                        <button type="button" 
                            class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>

                        <!-- STUB sign up button -->
                        <button type="submit" class="btn btn-info">
                            Log in
                        </button <input type="hidden" name="next" value="{{ next }}">

                    </div>


                </div>
            </form>
        </div>
    </div>
</div>