
<footer class="card-footer ">
    <div class="content has-text-centered">
        <div class="clearfix">

            <!-- Link -->
            <ul class="nav-item active ">
                <a class="nav-link text-light float-right" 
                    href="https://www.linkedin.com/in/rodrigo-marron/">
                        Grapevine by Rodrigo Marrón
                        <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
                        <img src="/assets/social_media_svg/linkedin.svg" alt="linkedin icon" id="linkedin"/>
                </a>
            </ul>
        </div>
        <br />
    </div>
</footer>