
<form class="form-signin"
    <!-- action="/user/register"  -->
    method="POST">>

    <!-- STUB form header -->
    <div class="text-center mb-4">

        <!-- STUB logo & intro -->
        <img class="mb-4" 
            src="/assets//logo/grapevine_grapevine.svg"  
            alt="Grapevine logo" 
            width="72" 
            height="72" />
        <h1 class="h3 mb-3 font-weight-normal">
            Welcome Back
        </h1>
        <small>
            Find the perfect job and grow your network along the way.
        </small>
    </div>

    <!-- STUB email -->
    <div class="form-label-group">
        <input type="email" 
            name="email" 
            class="form-control" 
            placeholder="Email address" />
        <label for="inputEmail">
            Email address
        </label>
    </div>

    <!-- STUB password -->
    <div class="form-label-group">
        <input type="password" 
            name="password" 
            class="form-control" 
            placeholder="Password" />
        <label for="inputPassword">
            Password
        </label>
    </div>

    <!-- STUB checkbox -->
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" 
                value="remember-me" /> 
            Remember me
        </label>
    </div>

    <!-- STUB sign in button -->
    <button class="btn btn-lg btn-primary btn-block" 
        type="submit">
        Sign in
    </button>

    <!-- STUB form footer -->
    <p class="mt-5 mb-3 text-muted text-center">
        © 2020
    </p>
</form>